@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:not([type="checkbox"]),
  select,
  textarea {
    @apply w-full bg-slate-200 rounded-md;
  }

  input:not([type="checkbox"]),
  select {
    @apply h-10;
  }

  input:not([type="checkbox"]) {
    @apply px-3;
  }

  select,
  textarea {
    @apply outline-none;
  }
}

@layer components {
  .form-section {
    @apply w-full border border-neutral-400 rounded-md flex flex-col;
  }

  .btn-expand {
    @apply p-5 flex justify-between items-center hover:font-bold;
  }

  .form-title {
    @apply text-xl;
  }

  .expand {
    @apply h-7 aspect-square;
  }

  .form {
    @apply p-5 flex flex-col gap-3;
  }

  .input-section {
    @apply flex flex-col gap-1;
  }

  .select-my {
    @apply flex gap-2;
  }

  .disabled {
    @apply opacity-50;
  }

  .select-wrapper,
  .textarea-wrapper {
    @apply w-full bg-slate-200 rounded-md;
  }

  .select-wrapper {
    @apply px-2;
  }

  .textarea-wrapper {
    @apply px-3 py-2;
  }

  .select-wrapper:focus-within,
  .textarea-wrapper:focus-within {
    @apply outline outline-2;
  }

  .btn-form {
    @apply px-2 py-1 border border-neutral-400 rounded-md hover:border-black;
  }

  .btn-form-delete {
    @apply btn-form text-red-600 hover:border-red-600;
  }
}
